:host {
    width: 30%;
    float: left;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    border-radius: 0.5em 0 0 0.5em;
    margin-left: 2vw;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 80%;
    padding: 0 1vw 0 1vw;
    overflow-y: scroll;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.channel {
    display: inline-block;
    user-select: none;
    color: rgb(255, 255, 255);
}

.channel:hover {
    cursor: pointer;
    color: #a7b3e2;
}

.selected-channel {
    color: #a7b3e2;

}

.members {
    padding-left: 2vw;
    user-select: none;
}

.divider {
    width: 100%;
    border: 0;
    border-top: 3px solid black;
    align-self: center;
    border-radius: 2em;
}