:host {
    width: 30%;
    float: left;
    border: 1px solid black;
    margin-left: 5vw;
    margin-top: 5vw;
}

.channel {
    /* color: black; */
    display: inline-block;
    user-select: none;
}

.channel:hover {
    color: green;
    background-color: gray;
    cursor: pointer;
}

.selected-channel {
    color: #989aa2;

}

.members {
    /* color: black; */
    padding-left: 2vw;
    user-select: none;
}

.divider{
    background-color: white;
}