:host {
    /* border-radius: 8px; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 30%;
    float: left;
    margin-left: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 80%;
    padding: 0 1vw 0 1vw;
    overflow-y: scroll;
    background-color: #121212;
}

.channel {
    display: inline-block;
    user-select: none;
    color: rgb(255, 255, 255);
}

.channel:hover {
    cursor: pointer;
    color: #a7b8f9;
}

.selected-channel {
    color: #a7b8f9;
}

.members {
    padding-left: 2vw;
    user-select: none;
}