<ng-container *ngIf="store.gotCurrentChannel; then loaded; else notLoaded"> </ng-container>

<ng-template #loaded>
    <div *ngFor="let channel of store.channels; index as i" class="channels">
        <div [class.selected-channel]="store.currentChannel !== null && channel.id === store.currentChannel.id"
            (click)="channelClick(channel.id)" class="channel">
            <h4> {{channel.name}} </h4>
            <div class="members" *ngFor="let member of channel.members">
                <h5> {{member.name}} </h5>
            </div>
        </div>
        <!-- <mat-divider class="divider"></mat-divider> -->
        <div *ngIf="i !== store.channels.length - 1" class="divider"> </div>
    </div>
    <button (click)="leaveChannel()"> quitter </button>
</ng-template>

<ng-template #notLoaded>
    <mat-spinner></mat-spinner>
</ng-template>