<div class="tags-bar">
    <mat-chip-listbox multiple *ngFor="let tag of tags" class="tags">
        <mat-chip-option (contextmenu)="menu.open($event, { name: tag} )" class="chip"
            [selected]="this.store.selectedTags.includes(tag.Name)" (selectionChange)="onTagClick($event, tag)">
            {{tag.Name}}
            <mat-icon *ngIf="!this.favoriteTags.includes(tag.Name)" class="icon"
                (click)="toggleFavorite($event, tag.Name, true)">star_outlined</mat-icon>
            <mat-icon *ngIf="this.favoriteTags.includes(tag.Name)" class="icon-favorite"
                (click)="toggleFavorite($event, tag.Name, false)">star</mat-icon>
        </mat-chip-option>
    </mat-chip-listbox>
</div>

<app-context-menu [matMenuTriggerFor]="main" #menu>
    <mat-menu #main="matMenu">
        <ng-template matMenuContent let-name="name">
            <button mat-menu-item (click)="renameTag(name)">Rename</button>
            <button mat-menu-item (click)="deleteTag(name)">Delete</button>
        </ng-template>
    </mat-menu>
</app-context-menu>