@import '../../styles.css';

.tags-bar {
    border-radius: 8px;
    display: flex;
    min-height: 32px;
    /* max-height: 6vh; */ 
    margin: 24px 24px 24px 24px;
    overflow-x: auto;
    overflow-y: auto;
    align-items: center;
    background-color: var(--first-background);
    /* padding-left: 1vw; */
    padding: 12px 12px 12px 12px ;
    /* padding-right: 1vw; */
    /* padding-bottom: 0.5vh;  */
    /* font-family: 'Helvetica 65 Medium', sans-serif; */
    min-height: 44px;
}

.tags {
    display: flex;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.icon {
    margin-left: 0.25em;
}

.icon-favorite {
    margin-left: 0.25em;
    color: var(--primary) !important;
}

.mat-icon:hover {
    color: var(--primary-variant) !important;
}

.selected {
    border: solid 2px var(--primary) !important;
}