@import '../../styles.css';

.tags-bar {
    border-radius: 8px;
    display: flex;
    min-height: 32px;
    margin: 24px 24px 24px 24px;
    align-items: center;
    background-color: var(--first-background);
    min-height: 63px;

    display: flex;
}

.fossasson {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 44px;
}

.tags-bar-container {
    padding: 12px 12px 12px 0;
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    overflow-x: scroll;
}

.tags {
    display: flex;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.icon {
    margin-left: 0.25em;
}

.icon-favorite {
    margin-left: 0.25em;
    color: var(--primary) !important;
}

.mat-icon:hover {
    color: var(--primary-variant) !important;
}

.selected {
    border: solid 2px var(--primary) !important;
}