:host {
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    left: 0;
    bottom: 50px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    height: 12px;
}

.content {
    /* height: 0px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline; */
}

.now-playing {
    left: 20px;
    position: absolute;
    /* margin-top: 20px; */
    width: 30%;
    text-align: center;
    overflow: hidden;
}

.controls {
    margin-right: 50px;
}

.control-button {
    margin-left: 1em;
    margin-top: 1em !important;
    display: inline-block;
}

.volume {
    right: 50px;
    position: absolute;
    /* margin-top: 20px; */
}