<div class="content">
    <div class="controls">
        <div class="control-button">
            <ng-container *ngIf="isPaused ; then paused else play"> </ng-container>
            <ng-template #paused>
                <button (click)="togglePause()" mat-mini-fab matTooltip="Primary" color="primary">
                    <mat-icon>play_arrow</mat-icon>
                </button>
            </ng-template>

            <ng-template #play>
                <button (click)="togglePause()" mat-mini-fab matTooltip="Primary" color="primary">
                    <mat-icon>pause</mat-icon>
                </button>
            </ng-template>
        </div>

        <div class="control-button">
            <button (click)="skipSound()" mat-mini-fab matTooltip="Primary" color="primary">
                <mat-icon>skip_next</mat-icon>
            </button>
        </div>
    </div>
    <app-sound-timer></app-sound-timer>
</div>