<div class="header">
    <div class="title">
        Queue
    </div>

    <div class="control">
        <!-- <mat-radio-group color="primary" class="" [(ngModel)]="queueMode">
            <mat-radio-button (change)="onRadioClick($event)" *ngFor="let mode of queueModes" [value]="mode">
                {{mode}}
            </mat-radio-button>
        </mat-radio-group> -->
        <mat-slide-toggle (change)="slideToggle($event)" [checked]="queueMode == 'queue'" color="primary">{{queueMode
            === 'queue' ? 'queue' : 'overwrite'}}</mat-slide-toggle>
    </div>

    <div class="clear-button manage-element">
        <button (click)="clearQueue()" mat-flat-button matTooltip="Clear queue" color="primary">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
</div>

<div cdkDropList cdkScrollable class="queue-list" (cdkDropListDropped)="drop($event)">
    <div class="scrollable-list">
        <span (click)="managerQueueElementClick(item.id)" [cdkDragDisabled]="!shiftPressed || i === 0"
            *ngFor="let item of store.queue; index as i" class="dragElement" cdkDrag #dragItem
            (cdkDragStarted)="onDragStarted($event)" (cdkDragEnded)="onDragEnded($event)">
            <span (click)="removeSoundFromQueue(item.id)" [class]="i == 0 ? 'queueItem-first' : ''"
                class="queueItem">{{item.name}}
                <!-- <div *ngIf="i + 1 !== store.queue.length " class="vertical-divider"></div> -->
            </span>
        </span>
    </div>
</div>

<!-- <div *ngIf="store.queue.length > 0" class="queue-list">
    <div *ngFor="let item of store.queue; index as i" class="item">

        <div *ngIf="i == 0" class="queueItem queueItem-first">
            {{item.name}}
            <div *ngIf="i + 1 !== store.queue.length " class="vertical-divider"></div>
        </div>

        <div *ngIf="i > 0" matTooltip="Click to remove from queue" class="queueItem" (click)="removeSoundFromQueue(item.id)">
            {{item.name}}
            <div *ngIf="i + 1 !== store.queue.length " class="vertical-divider"></div>
        </div>
     
<!-- </div> -->
<!-- </div> -->

<div class="empty" *ngIf="store.queue.length === 0">
    Empty queue
    <mat-icon style="padding-left: 12px;" fontIcon="block"></mat-icon>
</div>