<div class="queue">
    <div *ngIf="store.queue.length > 0">
        <div class="queue-list">
            <div *ngFor="let item of store.queue; index as i" class="item">
                {{item.name}}
                <button color="primary" mat-icon-button (click)="removeSoundFromQueue(item.id)">
                    <mat-icon>close</mat-icon>
                </button>
                <div *ngIf="i + 1 !== store.queue.length " class="vertical-divider"></div>
            </div>
        </div>
    </div>
    <div class="empty" *ngIf="store.queue.length === 0">
        Empty queue
        <mat-icon style="padding-left: 0.5vw;" fontIcon="block"></mat-icon>
    </div>
</div>