<div class="header">
    <div class="title">
        Queue
    </div>

    <div class="control">
        <!-- <mat-radio-group color="primary" class="" [(ngModel)]="queueMode">
            <mat-radio-button (change)="onRadioClick($event)" *ngFor="let mode of queueModes" [value]="mode">
                {{mode}}
            </mat-radio-button>
        </mat-radio-group> -->
        <mat-slide-toggle (change)="slideToggle($event)" [checked]="queueMode == 'queue'"
            color="primary">{{queueMode === 'queue' ? 'queue' : 'overwrite'}}</mat-slide-toggle>
    </div>

    <div class="clear-button manage-element">
        <button (click)="clearQueue()" mat-flat-button matTooltip="Clear queue" color="primary">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
</div>

<div *ngIf="store.queue.length > 0" class="queue-list">
    <div *ngFor="let item of store.queue; index as i" class="item">

        <div *ngIf="i == 0" class="queueItem queueItemFirst">
            {{item.name}}
            <div *ngIf="i + 1 !== store.queue.length " class="vertical-divider"></div>
        </div>

        <div *ngIf="i > 0" matTooltip="Click to remove from queue" class="queueItem"
            (click)="removeSoundFromQueue(item.id)">
            {{item.name}}
            <div *ngIf="i + 1 !== store.queue.length " class="vertical-divider"></div>
        </div>

        <!-- <button color="primary" mat-icon-button (click)="removeSoundFromQueue(item.id)">
                <mat-icon>close</mat-icon>
            </button>
             -->
    </div>
</div>

<div class="empty" *ngIf="store.queue.length === 0">
    Empty queue
    <mat-icon style="padding-left: 12px;" fontIcon="block"></mat-icon>
</div>