@import '../../styles.css';

:host {}

.queue-list {
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    align-items: center;
}

.mat-mdc-icon-button.mat-mdc-button-base {
    width: 40px;
    height: 45px;
}

h3 {
    margin: 0 !important;
    padding-left: 12px;
}

.queue {
    border-radius: 8px;
    min-height: 8vh;
    max-height: 8vh;
    margin: 0 0 0 0;
    overflow: auto;
    background-color: var(--first-background);
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 3vh;
}