@import '../../styles.css';

:host {
    display: flex;
    height: 100%;
    overflow: hidden;
    margin-right: 24px;
    padding: 0 24px 0 24px;
    border-radius: 8px;
    background-color: var(--first-background);
}

.header {
    display: flex;
    /* flex-direction: row;
    cursor: pointer;
    height: 38px; */
}

.queue-list {
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    align-items: center;
}

.mat-mdc-icon-button.mat-mdc-button-base {
    width: 40px;
    height: 45px
}

h3 {
    margin: 0 !important;
    padding-left: 12px;
}

.queue {}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 3vh;
}