@import '../../styles.css';

.queue-list {
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    flex-wrap: wrap;
}

.item {
    display: flex;
    align-items: center;
}

.mat-mdc-icon-button.mat-mdc-button-base {
    width: 40px;
    height: 45px;
}

h3 {
    margin: 0 !important;
    padding-left: 1em;
}

.queue {
    min-height: 8vh;
    max-height: 8vh;
    border: solid 4px black;
    border-radius: 0.5em;
    margin: 1vh 2vw 1vh 2vw;
    overflow: auto;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 3vh;    
}