@import '../../styles.css';

:host {
    width: 100%;
    float: left;

    background-color: var(--first-background);
    border-radius: 8px;
}

.grid {
    user-select: none;
}


.header {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    height: 38px;
}

.tag {
    cursor: not-allowed;
}

.sound-infos {
    display: flex;
    color: white;
    /* margin-top: 10px; */
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    /* padding: 0 24px 0 24px; */
    /* margin-right: 24px; */
    align-items: center;
}

.sound-name {
    justify-self: center;
    align-self: center;
}

.sound-title {
    flex: 2;
    /* margin-left: 30px; */
}

.sound-length {
    flex: 0.4;
}

.sound-tags {
    flex: 1.5;
    padding: 12px !important;
}


.tags-header {
    padding-left: 2vw;
}

.length-header {
    padding-left: 24px;
}

.delete-button {
    visibility: hidden;
    display: none;
}

mat-cell:hover {
    cursor: pointer;
}

.sound:hover+.delete-button,
.delete-button:hover {
    display: inline;
}

.top-buttons-fixed {
    /* display: flex; */
    overflow: hidden;
    position: sticky;
    top: 0;
    width: inherit;
    z-index: 100;
    background-color: var(--first-background);
}

.edit-button {
    float: right;
}

.hide-button {
    float: right;
}

.grayed {
    pointer-events: none;
    opacity: 10%;
}

.tags-selector-dialog .mdc-evolution-chip-set__chips {
    display: flex !important;
    flex-wrap: wrap !important;
}

.mdc-evolution-chip-set__chips {
    display: flex !important;
    flex-wrap: nowrap !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.text-header {
    color: var(--text-primary);
}

.search {
    position: relative;
}

.title-sounds {
    flex-grow: 1;
    margin-left: 24px;
    padding-top: 24px;
}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    height: 80px;
    /* width: 80%; */
    width: calc(100% - 160px);

}

.second-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

mat-table {
    overflow: auto;
    height: calc(100% - 80px);
    background-color: var(--first-background);
    border-radius: 10px;
}

mat-header-cell {
    position: sticky;
    top: 0;
    z-index: 1;
    color: var(--primary);
}

mat-row:not(.playing) mat-cell {
    color: var(--text-color-white);
}


.playing mat-cell {
    color: var(--primary);
}

.mat-column-tags {
    flex: 0 0 30%;
}

.mat-column-duration {
    flex: 0 0 10%;
}

.mat-column-addedDate {
    flex: 0 0 10%;
}

.matcell-sound {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    /* justify-self: normal; */
    align-items: center;
    line-height: 44px;
}

.title {
    /* padding-top: 0px; */
    margin-left: 24px;
    /* margin-right: 24px; */
    margin-top: 24px;
}

.add-button {
    position: absolute;
    top: 24px;
    right: 24px;
}

.first-row-header {
    position: relative;
}