<mat-form-field class="example-form-field">
    <mat-label>Clearable input</mat-label>
    <input (keyup)="textChange()" matInput type="text" [(ngModel)]="searchValue">
    <button *ngIf="searchValue" (click)="clearText()" matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<div *ngIf="sounds.length > 0" class="wrapper">
    <div class="grid">
        <span (click)="soundClicked(sound)" class="sound" *ngFor="let sound of sounds ">
            <span> {{sound}} </span>
        </span>
    </div>
</div>