:host {
    width: 70%;
    border: 4px solid black;
    float: left;
    margin-right: 2vw;
    margin-top: 1em;
    overflow-y: scroll;
    height: 80%;
}

.hidden {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: stretch;
    justify-content: center;
}

.sound {
    align-items: stretch;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    word-break: break-all;
    user-select: none;
    position: relative;
}

.delete-button {
    visibility: hidden;
    display: none;
}

.sound:hover {
    background-color: green;
    cursor: pointer;
    border-color: blue;
}

.sound:hover+.delete-button,
.delete-button:hover {
    display: inline;
}

.card {
    margin: 0 2em 2em 0;
}

.card:hover {
    cursor: pointer;
}

.card-title {
    overflow: hidden;
    color: black;
    font-size: 1.2em;
    line-height: 1.5em;
    height: 3em;
    padding: 0 !important;
    margin-top: 1vh;
    word-break: break-all;

}

.card-actions {
    justify-content: center;
    padding: 0;
}

.card-header {
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.wrapper {
    /* aspect-ratio: 1; */
    padding-top: 5em;
}

.top-buttons-fixed {
    overflow: hidden;
    position: fixed;
    width: 61%;
    background-color: #2b2d31;
    z-index: 100;
}

.edit-button {
    float: right;
}

.hide-button {
    float: right;
}

.grayed {
    pointer-events: none;
    opacity: 10%;
}