:host {
    display: block;
}

body {
    background-color: #2b2d31;
    color: #a7b3e2;
}

.upload {
    float: right;
}

.test {
    display: flex;
    height: 90%;
}

.filter-green {
    /* margin-top: 2vh; */
    filter: invert(97%) sepia(63%) saturate(990%) hue-rotate(49deg) brightness(84%) contrast(107%);
}

.filter-red {
    /* margin-top: 2vh; */
    filter: invert(54%) sepia(9%) saturate(3650%) hue-rotate(314deg) brightness(100%) contrast(103%);
}

mat-slider {
    width: 800px;
}

#main {
    height: 100%;
    overflow-y: hidden;
}

.menu {
    /* display: flex; */
}

.controls {
    /* display: flex; */
}

.slider {
    margin-left: 1em;
    margin-right: 1em;
}

.play-pause-button {
    margin-left: 1em;
    margin-top: 1em !important;
    display: inline-flex;
}

.skip-button {
    display: inline-flex;
    padding-left: 1vw;
}

.now-playing {
    display: inline-flex;
    margin-left: 2vw;
    line-height: 1.5;
    overflow: hidden;
    width: 20vw;
    text-align: center;
    overflow: hidden;
}

.link {
    color: white;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    display: inline-flex;
    line-height: 2;
    cursor: default;
}


.link_animated {
    animation: backAndForth 7s linear infinite;
    animation-play-state: running;
}

.link_animated:hover{
    animation-play-state: paused;
}

@keyframes backAndForth {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(calc(-100% + 20vw));
    }

    55% {
        transform: translateX(calc(-100% + 20vw));
    }

    90% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}