:host {
    display: block;
}

body {
    background-color: #2b2d31;
    color: #a7b3e2;
}

.upload {
    float: right;
}

.test {
    display: flex;
    height: 90%;
}

.filter-green {
    /* margin-top: 2vh; */
    filter: invert(97%) sepia(63%) saturate(990%) hue-rotate(49deg) brightness(84%) contrast(107%);
}

.filter-red {
    /* margin-top: 2vh; */
    filter: invert(54%) sepia(9%) saturate(3650%) hue-rotate(314deg) brightness(100%) contrast(103%);
}

mat-slider {
    width: 800px;
}

#main {
    height: 100%;
    overflow-y: hidden;
}

.menu {
    /* display: flex; */
}

.controls {
    /* display: flex; */
}

.slider {
    margin-left: 1em;
    margin-right: 1em;
}

.play-pause-button {
    margin-left: 1em;
    margin-top: 1em !important;
    display: inline-flex;
}

.skip-button {
    display: inline-flex;
    padding-left: 1vw;
}

.now-playing {
    display: inline-flex;
    padding-left: 1vw;
    padding-right: 1vw;

}