@import '../../../styles.css';

:host {
    display: flex;
    flex-direction: column;
    padding: 0 24px 24px 24px;

}

.form {}

.spinner {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    align-self: center;
    justify-content: center;
    margin-top: 10%;
}

.youtube {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
}


.hidden {
    opacity: 0;
}

.visible-flex {
    visibility: visible !important;
    display: flex !important;
}

.visible-inline-flex {
    visibility: visible !important;
    display: flex !important;
    justify-content: center;
}

.youtube-class {
    display: inline-flex;
}

mat-hint {
    color: var(--primary) !important;
}

.saveCropButton {}

.audio_card {
    display: none;
}

.button-group {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}

.button-controls-group {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    justify-content: space-between
}

.divider {
    margin-top: 24px;
    margin-bottom: 12px;
}

.thumnail-wrapper {
    width: 480px;
    height: 322px;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    text-align: center;
    top: 4px;
}

.duration {
    position: absolute;
    bottom: 8px;
    right: 16px;

    bottom: 14px;
    right: 14px;
    border-radius: 4px;
    padding: 1px 4px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
}

.thumbnail {
    clip-path: inset(45px 0 45px 0);
}

.video-title {}

.youtube-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.youtube-video-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-results {
    padding-top: 12px;
}

.video {
    display: flex;
    flex-direction: column;
    width: 480px;
}

.title {
    padding-top: 12px;
}

.video-title {
    padding-top: 12px;
}

.video-author {
    padding-top: 12px;

}

.checkbox-upload {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}