<div id="top" class="youtube">
    <div class="form">

        <div class="title">
            Upload from youtube URL
        </div>

        <div [ngClass]="{'input-controls-error': !urlIsValid && youtubeUrl}" class="input-controls">
            <div class="searchbar">
                <input [ngClass]="{'ghost-input-error': !urlIsValid && youtubeUrl}" [(ngModel)]="youtubeUrl"
                    (keyup)="onKeyup($event)" type="text" class="ghost-input" placeholder="youtube URL">
                <mat-icon (click)="pasteClipboard()">content_paste</mat-icon>
            </div>
        </div>

        <div class="input-controls">
            <div class="searchbar">
                <input [(ngModel)]="name" (keyup)="updateName()" type="text" class="ghost-input"
                    placeholder="sound name">
            </div>
        </div>

        <div class="button-controls-group">
            <div class="button-group-crop">
                <button class="cropButton" [disabled]="!urlIsValid" type="button" mat-flat-button color="primary"
                    (click)="getSoundFromUrl()" matTooltip="Open crop component" matTooltipPosition="above">Crop
                    sound</button>

                <button class="saveButton" [disabled]="!localBase64 || !localBase64.name" type="button" mat-flat-button
                    color="primary" (click)="saveInChild()" matTooltip="Upload cropped sound"> Save cropped
                    sound</button>

                <button class="saveCropButton" type="button" mat-flat-button color="primary"
                    (click)="saveWithoutCropping()" matTooltip="Upload the whole video">
                    Save without cropping</button>
            </div>

            <div class="checkbox-upload">
                <mat-checkbox [(ngModel)]="store.playAfterUpload" labelPosition="before">Add to queue</mat-checkbox>
            </div>

        </div>

        <div [class.visible]="isLoaded === 0" style="display: none;" class="spinner"> </div>

        <div style="display:flex !important">
            <div [class.visible-flex]="isLoaded === 1" style="display: none;" class="spinner">
                <mat-spinner></mat-spinner>
            </div>
        </div>

        <div [class.visible-inline-flex]="isLoaded === 2" class="audio_card card">
            <app-audio-editor (closeDialog)="closeSelf()"></app-audio-editor>
        </div>

        <div class="divider"></div>

        <div class="title">
            Upload from mp3 file
        </div>

        <div class="button-group">
            <button type="button" mat-flat-button color="primary" (click)="fileInput.click()">Choose File</button>
            <input accept="sound/mp3, sound/ogg" multiple hidden (change)="onFileChange()" #fileInput type="file"
                id="file">
            <button disabled="{{!this.hasFiles}}" mat-flat-button color="primary" (click)="uploadFile()">Upload
                sound</button>
            <mat-tab label="Upload from youtube"> </mat-tab>
        </div>

        <div class="divider"></div>

        <div class="title">
            Search on youtube
        </div>

        <div class="input-controls">
            <div class="searchbar">
                <input [(ngModel)]="youtubeSearch" (keyup)="onKeyupSearch($event)" type="text" class="ghost-input"
                    placeholder="youtube search">
                <mat-icon (click)="SearchOnYoutube()">search</mat-icon>
            </div>
        </div>

        <div class="video-results">
            <div class="youtube-video-list" *ngFor="let video of this.youtubeSearchLinks; index as i ">
                <div class="youtube-video">
                    <div (click)="videoClick(video)" class="thumnail-wrapper">
                        <img class="thumbnail" [src]="video.thumbnail" [alt]="video.title">
                    </div>
                    <div class="video">
                        <div class="video-title">
                            {{video.title}}
                        </div>
                        <div class="video-author">
                            {{video.channelTitle}}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- <mat-tab label="Upload from mp3 file">
</mat-tab> -->