<div class="title">
    Settings
</div>

<div class="colorPicker">
    <input type="color" (input)="debounce()" [(ngModel)]="store.primaryColor">
    <div class="input-controls-selected">
        <input (keyup)="updateThemeColor()" type="text" [(ngModel)]="store.primaryColor" class="ghost-input"
            placeholder="sound name" required>
    </div>
    <button (click)="pasteClipboard()" mat-flat-button matTooltip="Paste content" color="primary">
        <mat-icon>content_paste</mat-icon>
    </button>
</div>