<div class="title">
    Settings
</div>

<div class="colorPicker">
    <input type="color" (input)="debounce()" [(ngModel)]="store.primaryColor">
    <div class="input-controls-selected">
        <input (keyup)="updateThemeColor()" type="text" [(ngModel)]="store.primaryColor" class="ghost-input"
            placeholder="sound name" required>
    </div>
    <button (click)="pasteClipboard()" mat-flat-button matTooltip="Paste content" color="primary">
        <mat-icon>content_paste</mat-icon>
    </button>
</div>

<div class="divider"></div>

<div>
    <mat-checkbox (change)="toggleAvoidDuplicates()" labelPosition="after" [(ngModel)]="store.avoidDuplicates"> Avoid
        Duplicates</mat-checkbox>
</div>

<div class="divider"></div>

<div class="subtitle">
    Google account
</div>

<div class="disconnect-container">
    <div class="display">
        <p style="align-self: center;">Connected as <span class="highlight">{{ displayName }}</span></p>
        <img [src]="pfpUrl" class="google-picture" alt="Google picture" width="50" height="50" matTooltip="Disconnect" (click)="disconnect()">
    </div>

    <!-- <div class="disconnect">
        <p>Disconnect google account</p>
        <button  mat-flat-button matTooltip="Disconnect" color="primary">
            <mat-icon>logout</mat-icon>
        </button>
    </div> -->
</div>