<div class="title">
    Settings
</div>

<div class="colorPicker">
    <input type="color" (input)="debounce()" [(ngModel)]="store.primaryColor">
    <div class="input-controls-selected">
        <input (keyup)="updateThemeColor()" type="text" [(ngModel)]="store.primaryColor" class="ghost-input"
            placeholder="sound name" required>
    </div>
    <button (click)="pasteClipboard()" mat-flat-button matTooltip="Paste content" color="primary">
        <mat-icon>content_paste</mat-icon>
    </button>
</div>

<div class="divider"></div>

<div>
    <mat-checkbox (change)="toggleAvoidDuplicates()" labelPosition="after" [(ngModel)]="store.avoidDuplicates"> Avoid
        Duplicates</mat-checkbox>
</div>

<div class="divider"></div>

<div class="subtitle">
    Google account
</div>

<div class="disconnect-container">
    <div class="display">
        <p style="align-self: center;">Connected as <span class="highlight">{{ displayName }}</span></p>
        @if (pfpUrl !== '') {
        <img [src]="pfpUrl" class="google-picture" alt="Google picture" width="50" height="50" matTooltip="Disconnect"
            (click)="disconnect()">
        } @else {
        <button (click)="disconnect()" mat-flat-button matTooltip="Disconnect" color="primary">
            <mat-icon>logout</mat-icon>
        </button>
        }
    </div>
</div>

<div class="divider"></div>


@if (1 === 1) {
<div class="subtitle">
    Admin panel
</div>

<div class="admin-panel">
    <div class="admin-buttons">
        <button (click)="store.startServer()" mat-mini-fab matTooltip="Start server" color="primary">
            <mat-icon>power_on</mat-icon>
        </button>
        <button (click)="store.stopServer()" mat-mini-fab matTooltip="Stop server" color="primary">
            <mat-icon>power_off</mat-icon>
        </button>
    </div>

    <div class="status-icon-group">
        @if (status) { <mat-icon matTooltip="Server working" class="status-icon">check_circle</mat-icon> }
        @else { <mat-icon matTooltip="Server down" class="status-icon">highlight_off</mat-icon> }
    </div>

</div>
}