<div id="waveform"> </div>

<div class="play-pause-button">
    <ng-container *ngIf="isPaused ; then paused else play"> </ng-container>
    <ng-template #paused>
        <button (click)="playPause()" mat-mini-fab matTooltip="Play" color="primary">
            <mat-icon>play_arrow</mat-icon>
        </button>
    </ng-template>

    <ng-template #play>
        <button (click)="playPause()" mat-mini-fab matTooltip="Pause" color="primary">
            <mat-icon>pause</mat-icon>
        </button>
    </ng-template>
    <mat-slider class="slider" min="1" max="100" step="1">
        <input (dragEnd)="onSliderChange($event)" matSliderThumb [(ngModel)]="volume">
    </mat-slider>

    <button class="saveButton" type="button" mat-flat-button color="primary" (click)="selectAll()">
        Select all</button>
</div>