:root {
    --link-color-h: 238;
    --link-color-s: 100%;
    --link-color-l: 77%;
    --link-color-hsl: var(--link-color-h), var(--link-color-s), var(--link-color-l);    
    
    --primary: hsl(var(--link-color-hsl));
    --primary-light: hsl(var(--link-color-h), var(--link-color-s), calc(var(--link-color-l) / .90));
    --primary-dark: hsl(var(--link-color-h), var(--link-color-s), calc(var(--link-color-l) * .9));

    
     /* --primary: #ff0000; */
    /* --primary-lighter: mix(var(--primary), white, 20%); */ 
    /* --primary: #0008ff; */
    /* --primary-lighter: mix(var(--primary), white, 1%); */

    /* --primary-hue: 232; 
    --primary-saturation: 60%;
    --primary-lightness: 50%;  */

    /* --lighter-variant: hsl(var(--primary-hue), var(--primary-saturation), calc(var(--primary-lightness) + 20%)); */


    /* --primary-lighter: hsl(var(--primary-hue), var(--primary-saturation), calc(var(--primary-lightness) + 20%)); */
    /* Adjust the lightness value as per your preference */

    --first-background: #121212;
    --background: #000000;
    --text-color: #ffffff;

    
}

html,
body {
    height: 100%;
}

body {
    color: var(--primary);
    background-color: var(--background);
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 100;

    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 5em;
    }

    ::-webkit-scrollbar-thumb {
        background: #4A4A4A;
    }

    :hover::-webkit-scrollbar-thumb {
        background: #cfcfcf;
    }

    .divider {
        width: 100%;
        align-self: center;
        border: 0;
        border-top: 3px solid rgba(199, 199, 199, 0.089);
        border-radius: 2em;
    }

    .vertical-divider {
        border-left: 3px solid rgba(199, 199, 199, 0.089);
        height: 75%;
        width: 1px;
        margin-right: 1vw;
        border-radius: 2em;
        display: inline;
    }
}

.mat-mdc-unelevated-button.mat-primary {
    --mdc-filled-button-container-color: var(--primary);
}


.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary {
    --mdc-fab-container-color: var(--primary);
}

.mat-mdc-radio-button .mdc-form-field {
    --mdc-radio-color: var(--text-color);
}

.mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: var(--primary);
    --mdc-slider-focus-handle-color: var(--primary);
    --mdc-slider-hover-handle-color: var(--primary);
    --mdc-slider-active-track-color: var(--primary);
    --mdc-slider-inactive-track-color: var(--primary);
    --mdc-slider-with-tick-marks-active-container-color: var(--text-color);
    --mdc-slider-with-tick-marks-inactive-container-color: var(--primary);
    --mat-mdc-slider-ripple-color: var(--primary);
}

.mat-mdc-snack-bar-container {
    &.sucess-snackbar {
        --mdc-snackbar-container-color: var(--primary);
        --mat-mdc-snack-bar-button-color: var(--text-color) --mdc-snackbar-supporting-text-color: var(--text-color);
    }
}

.mat-mdc-radio-button .mdc-form-field {
    color: white;
}

.mdc-evolution-chip__text-label {
    display: flex;
    align-items: center;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: var(--first-background) !important;
}

.mat-mdc-standard-chip.mat-primary.mat-mdc-chip-selected {
    --mdc-chip-elevated-container-color: var(--primary);
}

/* sound-infos */

.sound-infos .mdc-evolution-chip-set__chips {
    display: flex !important;
    flex-wrap: nowrap !important;
}

.sound-infos .mdc-evolution-chip-set .mdc-evolution-chip {
    margin: 0 !important;
    padding: 0 !important;
}

.sound-infos .mat-mdc-standard-chip.mdc-evolution-chip--disabled {
    opacity: 1;
}

#slider .mat-mdc-slider-visual-thumb {
    display: none;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}