@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    color: white !important;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 100;

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 5em;
    }

    ::-webkit-scrollbar-thumb {
        background: #4A4A4A;
    }

    :hover::-webkit-scrollbar-thumb {
        background: #cfcfcf;
    }

    .divider {
        width: 100%;
        align-self: center;
        border: 0;
        border-top: 3px solid rgba(199, 199, 199, 0.089);
        border-radius: 2em;
    }

    .vertical-divider {
        border-left: 3px solid rgba(199, 199, 199, 0.089);
        height: 75%;
        width: 1px;
        margin-right: 1vw;
        border-radius: 2em;
        display: inline;
    }
}

.mat-mdc-snack-bar-container {
    &.sucess-snackbar {
        --mdc-snackbar-container-color: #a7b3e2;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #000000;
    }
}

.mdc-evolution-chip__text-label {
    display: flex;
    /* text-align: center !important;
    justify-content: center !important; */

    align-items: center;
}

.mdc-form-field {}
.mat-icon:hover {
    color: #ffaf19;
}

#slider .mat-mdc-slider-visual-thumb{
    display: none;
}
