:root {
    --primary: #898dff;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 100;

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 5em;
    }

    ::-webkit-scrollbar-thumb {
        background: #4A4A4A;
    }

    :hover::-webkit-scrollbar-thumb {
        background: #cfcfcf;
    }

    .divider {
        width: 100%;
        align-self: center;
        border: 0;
        border-top: 3px solid rgba(199, 199, 199, 0.089);
        border-radius: 2em;
    }

    .vertical-divider {
        border-left: 3px solid rgba(199, 199, 199, 0.089);
        height: 75%;
        width: 1px;
        margin-right: 1vw;
        border-radius: 2em;
        display: inline;
    }
}

.mat-mdc-unelevated-button.mat-primary {
    --mdc-filled-button-container-color: var(--primary);
}

.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary {
    --mdc-fab-container-color: var(--primary);
}

.mat-mdc-radio-button .mdc-form-field {
    --mdc-radio-color: #ffffff;
}

.mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: var(--primary);
    --mdc-slider-focus-handle-color: var(--primary);
    --mdc-slider-hover-handle-color: var(--primary);
    --mdc-slider-active-track-color: var(--primary);
    --mdc-slider-inactive-track-color: var(--primary);
    --mdc-slider-with-tick-marks-active-container-color: #fff;
    --mdc-slider-with-tick-marks-inactive-container-color: var(--primary);
    --mat-mdc-slider-ripple-color: var(--primary);
}

.mat-mdc-snack-bar-container {
    &.sucess-snackbar {
        --mdc-snackbar-container-color: #a7b3e2;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #000000;
    }
}

.mat-mdc-radio-button .mdc-form-field {
    color: white;
}

.mdc-evolution-chip__text-label {
    display: flex;
    align-items: center;
}

.mdc-form-field {}

#slider .mat-mdc-slider-visual-thumb {
    display: none;
}